body, html {
	height: 100%;
}

.bg {
	background-image: 
	url("img_lawfirm2.jpg");

	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
  position: relative;
  text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.large {
	font-size: 70px;
	font-color: black;
}

.brdr {
	border-style: double;
	border-width: 5px;
	color: white;
}

.serif {
	font-family: arvo;
}



.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: arvo;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1, h3, p, h4 {
	font-family: arvo;
	text-align: center;
}

.mid {
	vertical-align: middle;
}

.md {
	text-align: center;
	font-family: arvo;
}

p {
	line-height: 18px;
}